* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.ConmainContactContainer{
    flex:0.7;
    background-color: none;
    /* height: 100vh; */
    display: flex;
     width: 617px;
     /* border: 1px solid black; */
    /* margin-left: 12%; */
    margin-left: 3pc;
}

.Consearchbar{
    width:30pc ;
    padding-top: 10px;
    padding-left: 1px;
}
.Consearchbarforcontact{
    width: 18pc;
    height: 7vh;
    border-radius: 10px;
    /* border: none; */
    background-color: black;
    padding-left: 10px;
    margin-left: 0px;
    color: white;
}
.ConChatuserimage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.ConuserContainer{
    display: flex;
    margin-left: 2px;
    background-color: #dfdede;
    padding: 7px;
    border-radius: 10px;
    margin-top: 10px;
}

.ConuserName{
    color: black;
    text-align: start;
    margin-top:5px ;
    font-size: 13px;

}
.ConusersDetailContainer{
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;

}

